#barra{
    font-size:60px;
    font-family: 'Cormorant SC', serif;
    width:auto;
    height: 70px;
    text-align: center;
    color: #F1E0A4;
    background-color: brown;
    position: relative;
    top: 0px;
    margin-top: -10px;
    margin-left: -7.8px;
    margin-right: -7.8px;
    padding-bottom: 25px;
    padding-top: 25px;
}


