#titolo_b{
    font-size:45px;
    margin: 25px;
    margin-left: 75px;
}

#cerchi_b{
    width: 25px;
    height:25px;
    border-radius: 100%;
    background-color: black;
    position: relative;
    bottom: 63px;
    left: 35px;
}

.testo_b{
    margin-top: -40px;
    margin-left: 75px;
    margin-bottom:50px;
}